@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$primary-color: rgb(62, 171, 0);
$normal-font-size: 12px;

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}
input,
select,
textarea {
  border-radius: 8px;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.multi-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .multi-input-item {
    width: 48%;
  }
}
.text-button {
  border-radius: 8px;
  border: 2px solid $primary-color;
  padding: 3px;
  width: 5vw;
  min-width: fit-content;
  // margin-left: 20px;
  // a {
  // width: 100%;
  text-align: center;
  font-weight: bold;
  background-color: #ffffff;
  color: $primary-color;

  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  margin: 5px 0;
  // }
}
.text-button:hover {
  background-color: #f1f1f1;
}
.header-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  font-size: $normal-font-size;
  .shipping-button {
    margin: 5px 0;
    text-align: right;
    color: grey;
    i {
      margin: 0 10px;
      cursor: pointer;
    }
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      align-items: center;
      .search-container {
        width: 50vw;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding: 4px 8px;

        input {
          width: 100%;
          border: none;
          padding: 0;
        }
        input:focus {
          outline: none;
        }
        button {
          height: 100%;
          background-color: white;
          border: none;
          padding: 0 3px;
          cursor: pointer;
        }
      }
    }
    .logo-container {
      width: 9vw;
      cursor: pointer;
    }
    .icon-button {
      color: grey;
      margin-left: 20px;
      cursor: pointer;
      i {
        font-size: 14px;
      }
      // flex-direction: row;
    }
    .dropdown {
      // align-self: flex-end;

      display: none;
      // visibility: none;
      // opacity: 0;
      position: absolute;
      min-width: 150px;
      max-width: 250px;
      background-color: white;
      box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
      padding: 20px 15px;
      z-index: 1;
      top: 60px;
      border-radius: 0 0 8px 8px;
      // transition: opacity 400ms, visibility 400ms;

      flex-direction: column;
      // text-align: center;
      // margin: 5px 0;

      .cart-item {
        color: black;
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: 200px;
        margin-top: 5px;
        padding: 5px 0;
        border-top: 1px solid #c7c6c6;
        .product-image {
          position: relative;
          width: 40px;
          height: 100%;
          img {
            border-radius: 10px;
          }
        }
        .product-name {
          margin: 0 5px;
          white-space: nowrap;
          width: 50%;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
        }
      }
    }
    .icon-button:hover .dropdown,
    .profile-button:hover .dropdown {
      // display: block;
      // visibility: visible;
      // opacity: 1;
      display: flex;

      top: 38px;
    }

    .left-content {
      a {
        margin-left: 20px;
        color: grey;
      }
    }
    .right-content {
      border-left: 1px solid rgba(0, 0, 0, 0.3);
      width: 15vw;
      display: flex;
      justify-content: space-around;
      .profile-button {
        display: flex;
        justify-content: center;
        margin-left: 10px;
        height: 100%;
        p {
          z-index: 100;
        }
        cursor: pointer;
        .profile-pic {
          margin-right: 5px;
          position: relative;
          width: 4vh;
          height: 4vh;
          img {
            border-radius: 50%;
            z-index: 100;
          }
        }
      }
    }
  }
}

main {
  display: flex;
  justify-content: center;
  // align-items: center;
  // height: 100vh;
}

a {
  color: $primary-color;
}

.main-container {
  min-height: fit-content;
  // height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  // height: 500px;
  height: fit-content;
  width: 400px;
  padding: 30px 0;
  margin: 10vh 0;
  .form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 40px;
    font-size: 14px;

    .container-header {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      align-items: center;
      h3 {
        font-size: 24px;
      }
    }
    .form-input {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
      textarea {
        resize: vertical;
      }
      .multi-title {
        display: flex;
        align-items: center;
        .text-button {
          margin-left: 10px;
          width: 25px;
          padding: 0;
        }
      }
    }

    button {
      margin-top: 50px;
      background-color: $primary-color;
      color: #ffffff;
      padding: 10px 0;
      font-weight: bold;
      border-radius: 8px;
      border: none;
      cursor: pointer;
    }
  }
}

.error {
  color: rgba(202, 0, 0, 0.795);
  text-align: center;
  margin: 10px 0;
}

.list-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60vw;
  flex-direction: column;
  margin: 0 10px;

  .card {
    cursor: pointer;
    flex: 1 1 150px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

    width: 100%;

    min-height: fit-content;
    margin: 10px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 14px;

    padding: 10px 15px;
    .card-content {
      width: 100%;
      height: 10vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 10px 0;
      .card-image {
        position: relative;
        width: 10%;
        height: 100%;
        img {
          border-radius: 10px;
        }
      }
      .product-info {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        width: 90%;
        .product-name {
          margin: 5px 0;
          white-space: nowrap;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
        }
        .product-price {
          width: 10vw;
          display: flex;
          align-items: center;
          .product-discount {
            border-radius: 6px;
            padding: 2px 5px;
            background-color: #ffdbe2;
            color: #f94d63;
          }
          .original-price {
            margin: 0 5px;
          }
        }
      }
    }
    .card-header {
      width: 100%;
      display: flex;
    }
    .card-footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        color: grey;
      }
      .left-footer {
        display: flex;
        align-items: center;
        i {
          font-size: 16px;
          color: grey;
          margin-right: 10px;
        }
        input {
          width: 42px;
          text-align: center;
          padding: 4px 0;
          margin: 0;
        }
      }
    }
    .store-link {
      margin-top: 8px;
      cursor: pointer;
      i {
        margin-right: 5px;
      }
    }
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70vw;
  .card {
    cursor: pointer;
    flex: 1 1 150px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

    max-width: 10em;
    min-width: 10em;

    height: 15em;
    margin: 20px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1em;

    .card-image {
      position: relative;
      width: 100%;
      height: 50%;
      img {
        border-radius: 10px 10px 0 0;
      }
    }
    .card-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 15px;
      .product-name {
        margin: 5px 0;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
      }
      .store-link {
        margin-top: 8px;
        cursor: pointer;
        i {
          margin-right: 5px;
        }
      }
    }
  }
}

.shop-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  height: fit-content;
  width: 67vw;
  padding: 30px;
  margin: 5vh 0;
  .shop-image {
    width: 5vw;
    height: 5vw;
    position: relative;
    img {
      border-radius: 50%;
    }
  }
  .shop-detail {
    margin-left: 10px;

    .shop-name {
      display: flex;
      .shop-badge {
        position: relative;
        width: 2vw;
        height: 2vw;
      }
    }

    .shop-desc {
      color: grey;
      font-size: 14px;
      margin: 5px 0;
    }
  }
}

.cart-container {
  margin: 5vh 0;
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.action-container {
  height: fit-content;
  border: 1px solid #c7c6c6;
  border-radius: 8px;
  padding: 10px;
  min-width: max-content;
  .product-button {
    button {
      width: 100%;
      margin: 10px 0;
    }
  }
  .subtotal {
    margin: 10px 0;
    b {
      width: fit-content;
      margin-left: 10px;
    }
  }
  .notes {
    input {
      width: 100%;
    }
  }
  .action-footer {
    display: flex;
    color: grey;
    margin-top: 20px;
    .footer-links {
      cursor: pointer;
      margin: 0 5px;
      display: flex;
      align-items: center;
      i {
        margin-right: 5px;
      }
    }
  }
}
.product-container {
  margin: 5vh 0;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .product-detail {
    width: 40vw;
    padding: 0 20px;
    .product-price {
      margin: 6px 0;
    }
    .product-description {
      border-top: 1px solid #c7c6c6;
      margin: 15px 0;
      padding: 10px 0;
      text-align: justify;
      white-space: pre-wrap;
      .product-metadata {
        margin: 12px 0;
        .metadata-key {
          color: grey;
        }
      }
      b {
        color: $primary-color;
      }
      .shop-container {
        cursor: pointer;
        width: 100%;
      }
    }
  }
}
.product-image {
  display: flex;
  position: relative;
  width: 20vw;
  height: 40vh;
  .carousel-container {
    margin: 20px;
    width: 20vw;
  }

  .selected-image {
    width: 90%;
    height: 15vw;
    margin-bottom: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .carousel {
    position: relative;
  }

  .carousel-images {
    display: flex;
    max-width: 90%;
    overflow-x: hidden;
  }

  .carousel-image-selected {
    border: 3px solid #ffa700 !important;
  }

  .carousel-image {
    margin-right: 10px;
    height: 5vw;
    min-width: 5vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
  }
}

.filter-container {
  width: 15vw;
  margin: 20px;

  .price-filter {
    margin: 10px 0;
    input {
      width: 100%;
    }
  }
}

.result-container {
  margin-top: 20px;
  .result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    label {
      margin-right: 10px;
    }
  }
}

.page-links {
  display: flex;
  a {
    margin-left: 10px;
  }
}

.footer-container {
  border-top: 1px solid #c7c6c6;
  height: 400px;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  padding: 40px 0;

  .right-content {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      color: grey;
      font-size: $normal-font-size;
      margin: 15px 0;
    }
    .translate-button {
      width: 12vw;
      display: flex;
      justify-content: space-around;
    }
    .footer-img {
      position: relative;
      width: 100%;
      height: 200px;
    }
  }
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    width: 50vw;
    height: 70vh;
    background-color: white;
    border-radius: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    .modal-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      i {
        cursor: pointer;
      }
    }
    .modal-content {
      display: flex;
      flex-direction: column;
      // justify-content: ;
      align-items: center;
      height: 100%;
      width: 100%;
      flex-grow: 1;
      .address-list {
        width: 100%;
        margin: 10px 0;
        padding: 10px 15px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
        border-radius: 8px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .primary {
        background-color: rgb(237, 255, 238);
        border: 1px solid $primary-color;
      }
      .address-content {
        .address-header {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          .primary-tag {
            margin-left: 5px;
            padding: 4px 8px;
            background-color: #f3f4f5;
            color: #9fa6b0;
            border-radius: 6px;
            font-size: 11px;
          }
        }
        .address-detail {
          color: grey;
        }
      }

      .action {
        i {
          color: $primary-color;
        }
        .text-button {
          font-size: 12px;
        }
      }
    }
  }
}
