@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$primary-color: rgb(62, 171, 0);
$normal-font-size: 0.9vw;

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.header-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  .shipping-button {
    text-align: right;
    font-size: $normal-font-size;
    color: grey;
    i {
      margin: 0 10px;
    }
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      align-items: center;
      .search-container {
        width: 50vw;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding: 4px 8px;

        input {
          font-size: $normal-font-size;
          width: 100%;
          border: none;
        }
        input:focus {
          outline: none;
        }
        button {
          height: 100%;
          background-color: white;
          border: none;
          padding: 0 3px;
          cursor: pointer;
        }
      }
    }
    .logo-container {
      width: 12vw;
      cursor: pointer;
    }
    .icon-button {
      color: grey;
      margin-left: 20px;
      cursor: pointer;
      // flex-direction: row;
      .dropdown {
        // align-self: flex-end;
        display: none;
        position: absolute;
        min-width: 200px;
        background-color: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        padding: 20px;
        z-index: 1;
        top: 60px;
        border-radius: 0 0 8px 8px;
      }
    }
    .icon-button:hover .dropdown {
      display: block;
    }

    .text-button {
      border-radius: 8px;
      border: 2px solid $primary-color;
      padding: 3px 0;
      width: 5vw;
      margin-left: 20px;
      font-size: $normal-font-size;
      a {
        width: 100%;
        text-align: center;
        font-weight: bold;
      }
    }
    .left-content {
      a {
        margin-left: 20px;
        color: grey;
        font-size: $normal-font-size;
      }
    }
    .right-content {
      border-left: 1px solid rgba(0, 0, 0, 0.3);
      width: 15vw;
      display: flex;
      justify-content: space-around;
      .profile-button {
        display: flex;
        justify-content: center;
        // margin-left: vw;
        height: 100%;
        font-size: 11px;
        .profile-pic {
          margin-right: 5px;
          position: relative;
          width: 4vh;
          height: 4vh;
          img {
            border-radius: 50%;
          }
        }
      }
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
}

a {
  color: $primary-color;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  // align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  // height: 500px;
  height: fit-content;
  width: 400px;
  padding: 30px 0;
  margin: 10vh 0;
  .form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 40px;
    font-size: 14px;

    .container-header {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      align-items: center;
      h3 {
        font-size: 24px;
      }
    }
    .form-input {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
    }
    input,
    select {
      border-radius: 8px;
      padding: 8px;
      margin-top: 5px;
      border: 1px solid rgba(0, 0, 0, 0.3);
    }

    button {
      margin-top: 50px;
      background-color: $primary-color;
      color: #ffffff;
      padding: 10px 0;
      font-weight: bold;
      border-radius: 8px;
      border: none;
      cursor: pointer;
    }
  }
}

.error {
  color: rgba(202, 0, 0, 0.795);
  text-align: center;
  margin: 10px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70vw;
  .card {
    flex: 1 1 150px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

    max-width: 10em;
    min-width: 10em;

    height: 15em;
    margin: 20px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1em;

    .card-image {
      position: relative;
      width: 100%;
      height: 50%;
      img {
        border-radius: 10px 10px 0 0;
      }
    }
    .card-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 15px;
      .product-name {
        margin: 5px 0;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
      }
      .store-link {
        margin-top: 8px;
        cursor: pointer;
        i {
          margin-right: 5px;
        }
      }
    }
  }
}
