@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$primary-color: rgb(62, 171, 0);

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  div {
    padding: 0 5px;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  color: $primary-color;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  // align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  // height: 500px;
  height: fit-content;
  width: 400px;
  padding: 30px 0;
  margin: 10vh 0;
  .form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 40px;
    font-size: 14px;

    .container-header {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      align-items: center;
      h3 {
        font-size: 24px;
      }
    }
    .form-input {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
    }
    input,
    select {
      border-radius: 8px;
      padding: 8px;
      margin-top: 5px;
      border: 1px solid rgba(0, 0, 0, 0.3);
    }

    button {
      margin-top: 50px;
      background-color: $primary-color;
      color: #ffffff;
      padding: 10px 0;
      font-weight: bold;
      border-radius: 8px;
      border: none;
      cursor: pointer;
    }
  }
}

.error {
  color: rgba(202, 0, 0, 0.795);
  text-align: center;
  margin: 10px 0;
}
